VAPID_PUBLIC_KEY=REPLACE_WITH_YOUR_PUBLIC_KEY
VAPID_PRIVATE_KEY=REPLACE_WITH_YOUR_PRIVATE_KEY
VAPID_CLAIM_EMAIL=mailto:admin@example.com

VAPID_PUBLIC_KEY=BAGGxn4AAqU-7DHsP675jR7PxwwhUL4KUHrjOyPZ-VFaoIQ5f9OyTi1cLMiAPxwtx8zudYOjDJ3lcEUaGQwmrxk
VAPID_PRIVATE_KEY=4_8VggLD_me2aToSgC77Xqt-ah4d6_Kn0wNq_MmifTM
VAPID_CLAIM_EMAIL=mailto:jason.bartholme@gmail.com